{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
  
    <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
  <h1>{{ page.title }}</h1>
    <!-- <h5> {{ page.date }}</h5> -->


        </div> 



        <div class="col s6 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>{{ page.intro }}</h4>
           <!-- <div class="intro">{{ page.intro }}</div> -->
          <p class="left-align light"> {{ item.caption }} 
           {{ page.body|richtext }}</p>
</div>     
       <div class="col s6 center">
            {% for item in page.gallery_images.all %}
        <div style="float: right; margin: 10px">

             <figure class="hidden-md-up">
                            {% image  item.image width-500 %}
                        </figure>
           
</div></div>


        </div>

        
 {% endfor %}
      </div>
  </div>







</div>
</div>






 
   

   


    

{% endblock %}
